.faq {

    h2 {
        text-align: center;
        margin: 2em 0 1em;

    }


  
    &__questions {

      
         
         &__item{
            background-color: #13151d;
            color: white;
            font-weight: bold;
            font-size: 25px;
            padding: 8px 10px;
            display: flex;
            max-width: 1024px;
            width: 100%;
            margin: 1em auto;
            cursor: pointer;
            gap: 20px;
            flex-direction: column ;
    
           &__question{
            display: flex;
            justify-content: space-between;

            &::after{
                content: '+';
                padding-right: 10px;
                font-weight:bold;
                font-size: 30px;
            }
           }

           &__response{
             overflow: hidden;
             height: 0;
             font-size: 20px;
             color: silver;
             line-height: 30px;
             padding: 0 10px;
             transition: height, ease .5s;
           }
           
           &--is-open{

            .faq__questions__item__question::after{
               content: '-';
              

            }

           .faq__questions__item__response{

                height: auto;
                padding-bottom: 10px;
                transition: height, ease .5s;
              
              }



           }

         }
      


        }

      

    }
