
.footer{
    max-width: 1024px;
    width: 100%;
    text-align: center;
    margin: 0 auto;


    &__image{
        max-width: 150px;
        padding-bottom: 1em;
        padding-top: 4em;
       margin: 0 auto;
    }

    &__list{
    
        display: grid;
        grid-template-columns: repeat(4, 25%);
        row-gap: 10px;
        column-gap: 0;

        &__center{
            width: 500px;
            margin: 15px auto;
        }
      

        li{
          
            list-style: none;
             
            a{  
                color: silver;
                font-weight: bold;
                font-size: 15px;
                
                &:hover{
                    color: white;
                }
               
            }
        }   

    }

    p{
        max-width: 1280px;
        width: 100%;
        padding: 1em 0;
    }  
}