@use "./variables/variables" as *;


.footer {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    text-align: center;



    &__image {
        max-width: 130px;
        padding-bottom: 1em;
        padding-top: 2em;
        margin: 0 auto;
    }

    &__list {

        display: flex;
        width: 100%;
        justify-content: center;
        list-style: none;

        &__options {
            display: flex;
            align-items: center;



            img {
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }

            select {
                background-color: transparent;
                color: silver;
                font-size: 16px;
                cursor: pointer;
                border: 0;


                &:hover {
                    color: white;


                }

                option {

                    color: black;



                }
            }

        }


        a {
            color: silver;
            font-weight: bold;
            font-size: 15px;
            padding: 0 15px;

            &:hover {
                color: white;
            }

        }


    }

    &__secundary {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 20px;
        margin: 15px 0;

        a {
            color: silver;
            font-weight: bold;
            font-size: 15px;
            padding: 0 15px;


            &:hover {
                color: white;
            }

        }
    }

    p {
        padding: 10px;
    }
}


@media screen and (max-width:$mobile){

    .footer{
       
      &__list{
    
        display: grid; 
        width:100%;    
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px; 
      
        li{
           
           display: flex;
           justify-content: center;
           align-items: center;

            a{
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
              
            }
        }
         &__options{
            
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -12px;         
         }
        
      }

         &__secundary{
           
            li{
                display: flex;     
                align-items: center;
                font-size: 12px;
          
                
            }
         }
    }
}