.jeito {
  padding: 20px;
  margin-top: 8%;


  &__content {

    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    h2 {
      margin-bottom: 1em;
    }

    img {
      max-width: 100%;
    }
  }
}