.rei-leao {
  display: block;
  position: relative;
  padding-top: 2em;



  &__items {

    img {
      max-width: 100%
    }

    ;

    &__text {

      
      width: 90%;
      position: absolute;
      top: 45%;
      text-align: right;

      h2 {
        width: 90%;
        margin-bottom: 10px;
      }


    }


  }
}